<footer class="main-footer">
    <div class="pull-right hidden-xs">
        06252, 서울특별시 강남구 강남대로 320, 황화빌딩 1505호
        <div style="margin-right:0%; padding-right:0%; text-align:right;">
            Tel. <b>02.501.3869</b>
            <br> Fax. <b>02.556.0480</b>
            <br> E-mail. <b>info@candh.co.kr</b>
        </div>
    </div>
    <img src="/static/images/logo.png" alt="logo">
    <br>
    <strong>Copyright &copy; 2014-2016 <a href="http://www.candh.co.kr/">C&amp;h</a>.</strong> All rights reserved.
</footer>