<!-- search form -->
<form action="/search_data" method="get" class="sidebar-form">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..." >
        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
    </div>
</form>
<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>channel</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
                <li class="active"><a href="/test?channel=1"><i class="fa fa-circle-o"></i>device1</a></li>
                <li class="active"><a href="/test?channel=2"><i class="fa fa-circle-o"></i>device2</a></li>
            <li class="active"><a href="/channel/create"><i class="fa fa-circle-o"></i>create channel</a></li>
            <li><a href="/channel/show_setting"><i class="fa fa-circle-o"></i>channel setting</a></li>
            <li><a href="/channel/detail"><i class="fa fa-circle-o"></i>show channel</a></li>
            <!-- <li><a href="#"><i class="fa fa-circle-o"></i> Dashboard v2</a></li> -->
        </ul>
    </li>
    <!-- 
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>create Dashboard</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Dashboard v1</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
        </ul>
    </li>
 -->
</ul>
